/* || General setup */

html, body {
    font-size: 100%;
    margin: 0;
    padding: 0;
  }
  
  html {
    background-color: #ffcc33;
  }
  
  body {
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #2a2a2a;
  }
  
  .container {
    padding: 1rem;
    margin: 0 auto;
  }
  
  @media screen and (min-width: 48rem) {
    .container {
      padding: 2rem 5rem;
    }
  }
  
  /* || typography */
  
  h1, h2, h3 {
    margin-top: 0;
    font-family: 'Pacifico', cursive;
    color: #2a2a2a;
  }
  
  h1 {
    margin-top: 1rem;
    font-size: 4rem;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  h3 {
    font-size: 2.2rem;
  }
  
  p, li {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  
  a:focus,
  button:focus,
  input:focus {
    outline: 0.25rem solid currentColor;
  }
  
  a {
    color: #000000;
  }

  .skiplink {
    position: absolute;
    top: 0;
    font-size: 1.5rem;
    padding: 1rem;
    border: 0.125rem solid #000000;
    background-color: #ffffff;
    transform: translateY(-100%);
    transition: transform 0.3s;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}

  .skiplink:focus {
    top: 1rem;
    transform: translateY(0%);
  }
  
  /* || header layout */
  
  nav, article, aside, footer {
    background-color: white;
    padding: 2rem;
  }
  
  header {
    min-height: 5rem;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    background-color: #1ea0d6;
  }
  
  @media screen and (min-width: 48rem) {
    header {
      display: flex;
      align-items: center;
      padding-bottom: 0;
    }
  }
  
  nav {
    background: transparent;
  }
  
  @media screen and (min-width: 48rem) {
    nav {
      display: flex;
  
      width: 70%;
    }
  }
  
  nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
    flex: 2;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  
  nav a {
    display: block;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    color: black;
    white-space: nowrap;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
  }
  
  @media screen and (min-width: 64rem) {
    form {
      flex-wrap: nowrap;
    }
  }
  
  input {
    width: 100%;
    min-height: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: #000000;
    border: 0.25rem solid #000000;
  }
  
  @media screen and (min-width: 64rem) {
    input {
      min-width: 60%;
    }
  }
  
  .search {
    width: 100%;
    background: #333;
    border: 0;
    color: white;
    font-size: 1.5rem;
    min-height: 2rem;
    padding: 1rem;
    border: none;
    border: 0.25rem solid #333;
  }
  
  /* || main layout */
  
  .wrapper {
    display: block;
  }
  
  @media screen and (min-width: 48rem) {
    .wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }
  
  main {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  @media screen and (min-width: 48rem) {
    main {
      display: flex;
      width: 75%;
      margin-right: 1rem;
      margin-bottom: 0;
      align-self: stretch;
    }
  }
  
  article {
    flex: 4;
  }
  
  aside {
    background-color: #1ea0d6;
  }
  
  @media screen and (min-width: 48rem) {
    aside {
      width: 25%;
    }
  }
  
  aside li {
    padding-bottom: 1rem;
  }
  
  footer {
    margin-top: 1rem;
  }

  .settings {
    font-size: 2rem;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    display: block;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border: none;
    background-color:#ffcc33;
  }

  .collapsible {
    padding: 2rem;
    font-size: 1.5rem;
    border: 0.1875rem solid #ffcc33;
    background-color: #ffffff;
  }

  .collapsible[aria-hidden="true"] {
    display: none;
  }
  
  .collapsible[aria-hidden="false"] {
    display: block;
  }

  .switch {
    font-size: inherit;
    padding: 0.5rem;
    border: none;
    background-color:#ffcc33;
  }

  kbd {
    padding: 0.25rem;
    border: 0.125rem solid #000000;
    background-color: #999999;
  }
  
  /* helpers */
  
  .invisible {
    position: absolute;
    top: -0.0625rem;
    left: -0.0625rem;
    overflow: hidden;
    width: 0.0625rem;
    height: 0.0625rem;
    margin: 0;
    padding: 0;
    border: 0;
    clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
    color: #000000;
    background-color: #ffffff;
  }
  
